export(nesting_spec)
export(apply_sentinel)
export(cell_formula)
export(chain_terms)
export(add_cells)
export(cell_grid)
export(effect_basis)
export(fitting_mode)
export(translation)
export(nest_policy)
export(counterfactual_grid)
export(policy_weights)
export(policy_vertices)
export(estimand)
export(add_bounds)
export(show_code)
export(nest_fit)
export(random_terms)
export(random_slope_rank)
export(has_thresholds)
export(latent_estimand)
export(latent_draws)
export(policy_contrast_matrix)
export(nest_prior)
export(prior_audit)
export(prior_for_estimand)
export(prior_stanvars)
export(prior_statement)
export(chain_priors)
export(boundary_vars)
export(chain_prior_object)
export(zero_columns)
export(chain_random_zeros)
export(mfx_canonical)
export(mfx_term_column)
export(mfx_hypothesis)
export(mfx_formula_hypothesis)
S3method(print, nesting_spec)
S3method(print, nestimand_translation)
S3method(print, nestimand_policy)
S3method(print, nestimand_estimand)
S3method(show_code, nestimand_estimand)
S3method(show_code, default)
S3method(print, nestimand_code)
S3method(print, nestimand_prior)
S3method(print, nestimand_chain_priors)
S3method(show_code, nestimand_chain_priors)
importFrom(stats, ave, as.formula, model.matrix, na.omit, setNames, terms)
importFrom(utils, head)
